body {
    background-color: rgb(231, 230, 230);
}
button {
    color: brown;
}
.header {
    text-align: center;
    background-color: ;
    color: black;
}
.row {
    max-width: 100%;
    color: brown;
}
.left {
    display: inline-block;
    width: 66%;
    float: left;
}
.right {
    display: inline-block;
    width: 34%;
    float: right;
}
.left div{
    display: inline-block;
}
.right div{
    display: inline-block;
}
